/* Header */
.large-header {
	background: rgba(0, 0, 0, 0.3) url(../images/dott.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: 4px;
    -webkit-background-size: 4px;
    -moz-background-size: 4px;
    -o-background-size: 4px;
    -ms-background-size: 4px;
    min-height: 100%;
    width: 100%;
}

.large-header #demo-canvas{
	position: absolute;
	width: 100%;
}